@import "~@angular/material/theming";
@import '../../theme.scss';

.searchbar {
    max-width: 95%;
    width: 40rem;
    background-color: $ac-secondary;
    border-radius: 1rem;
    margin: 0 auto;
}

.form {
    width: 100%;
    text-align: center;
    font-size: large;
}

.optionIcon {
    width: 1.5rem;
    margin-right: 1rem;
    border-radius: 1rem;
    border-style: groove;
    border-width: thin;
    border-color: mat-color($ac-accent);
    vertical-align: middle;
}

.mat-option {
    background-color: $ac-secondary;
}

.mat-option:hover:not(.mat-option-disabled) {
    background-color: mat-color($ac-accent);
}
