.searchbar {
    max-width: 95%;
    width: 40rem;
    background-color: #f2eac1;
    border-radius: 1rem;
    margin: 0 auto;
}

.form {
    width: 100%;
    text-align: center;
    font-size: large;
}

.optionIcon {
    width: 1.5rem;
    margin-right: 1rem;
    border-radius: 35%;
    border-style: groove;
    border-width: thin;
    border-color: brown; // needs to come from theme
    vertical-align: middle;
}

.mat-option {
    background-color: #f2eac1; // needs to come from theme
}
