<form class="searchbar mat-elevation-z4">
    <mat-form-field class="form">
        <input type="text" placeholder="{{'GENERAL.SEARCH' | translate}}" aria-label="Number" matInput
            [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" class="mat-elevation-z12">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name"
                (click)="onClick(option.data)">
                <span>
                    <img class="optionIcon" [src]="option.data.type === 0 ? 'assets/icons/fish/' + option.data.name.toLowerCase() + '_small.png' :
                    'assets/icons/insects/' + option.data.name.toLowerCase() + '_small.png'">
                    {{option.name}}
                </span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>