#container {
    max-width: 50%;
    width: 100%;
    background-color: white;
    border-radius: 1em;
    margin: 0 auto;
}

.searchbar {
    max-width: 100%;
    width: 100%;
    background-color: white;
    border-radius: 1em;
    margin: 0 auto;
}

.form {
    width: inherit;
    text-align: center;
    margin-right: 1em;
}
