<div id="container" class="mat-elevation-z4" style="border-radius: 1em;">
    <form class="searchbar">
        <mat-form-field class="form">
            <input type="text" placeholder="{{'GENERAL.SEARCH' | translate}}" aria-label="Number" matInput
                [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name" (click)="onClick(option.data)">
                    {{option.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</div>