<mat-toolbar color="primary" class="mat-elevation-z4">
  <mat-toolbar-row>
    <span id="title">ACNH {{'GENERAL.PRICELIST' | translate}}</span>
    <span class="example-spacer"></span>
    <span>
      <select #langSelect (change)="translate.use(langSelect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">
          {{ lang }}</option>
      </select>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <app-searchbar class="searchbar" [sourceFish]="parser.fish" [sourceInsects]="parser.insects"></app-searchbar>
  <app-itemlist class="fishlist" title="GENERAL.CURRENT_FISH" [source]="parser.fish" translationPrefix="FISH."></app-itemlist>
  <app-itemlist class="insectlist" title="GENERAL.CURRENT_INSECTS" [source]="parser.insects" translationPrefix="INSECT."></app-itemlist>
</div>
