@font-face {
    font-family: "FinkHeavy";
    src: url("../assets/fonts/FinkHeavyRegular.ttf");
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar {
    border-radius: 0rem 0rem 1rem 1rem;
    margin-bottom: 1rem;
}

#title {
    font-family: FinkHeavy, "Helvetica Neue", sans-serif;
    font-size: xx-large;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.searchbar {
    display: flex;
}

.fishlist {
    display: flex;
}

.insectlist {
    display: flex;
}
