@import './theme.scss';

@font-face {
    font-family: "SecondaRound";
    src: url("./assets/SecondaRoundW00Bold.ttf");
}

* {
    font-family: SecondaRound, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
    background-image: url('./assets/background.png');
}
body {
    margin: 0;
}
